<li id="post-<%=post.id %>">
  <% unless current_user.nil? %>
    <% user = User.find(post.user_id) %>
    <span class="user_id"><%= link_to user.name, user %></span>
  <% end %>
  <span class="content"><%= post.content %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(post.created_at) %> ago.
  </span>
</li>
